@mixin div-text {
    text-align: center;
    padding: 10rem;
    color: #fff;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1473px) {
    main {

        .nav-bar {
            background-color: #0e9402;
            width: 100%;

            .logo {
                margin: 0px 8px;
                width: auto;
            }
        }

        .text-section {

            .div-images {

                img {
                    z-index: -1;
                    position: absolute;
                    width: 100%;
                }
            }
            
            .div-text {
                @include div-text;        

                h1 {
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                    font-size: 3.5rem;
                    background-color: #333438;
                    opacity: 0.75;
                    width: 80%;
                    margin: auto;
                    margin-bottom: 0.5rem;
                    border-radius: 50%;
                    border-radius: 15px;
                }

                p {
                    font-size: 1.5rem;
                    background-color: #333438;
                    opacity: 0.75;
                    width: 80%;
                    margin: auto;
                    margin-bottom: 0.5rem;
                    border-radius: 15px;
                }
                
                button {
                    margin: 2rem auto;
                    padding: 1rem;
                    cursor: pointer;
                    background-color: #0e9402;
                    border-radius: 8px;
                    border: 0.25rem solid #0e9402;
                    font-size: 1.5rem;
                    font-weight: 700;
                    opacity: 0.65;

                    &:hover {
                        border: 0.25rem solid #0e9402;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1473px) {
    main {
        //background-color: #333438;

        .nav-bar {
            background-color: #0e9402;
            width: 100%;

            .logo {
                margin: 0px 8px;
                width: auto;
            }
        }

        .text-section {

            .div-images {

                img {
                    z-index: -1;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }
            
            .div-text {
                @include div-text;        

                h1 {
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                    font-size: 2.5rem;
                    background-color: #333438;
                    opacity: 0.75;
                    width: 80%;
                    margin: auto;
                    margin-bottom: 0.5rem;
                    border-radius: 50%;
                    border-radius: 15px;
                }

                p {
                    font-size: 1rem;
                    background-color: #333438;
                    opacity: 0.75;
                    width: 80%;
                    margin: auto;
                    margin-bottom: 0.5rem;
                    border-radius: 15px;
                }
                
                button {
                    margin: 2rem auto;
                    padding: 1rem;
                    cursor: pointer;
                    background-color: #0e9402;
                    border-radius: 8px;
                    border: 0.25rem solid #0e9402;
                    font-size: 1.5rem;
                    font-weight: 700;
                    opacity: 0.65;

                    &:hover {
                        border: 0.25rem solid #0e9402;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 780px) and (max-width: 1000px) {
    main {

        .nav-bar {
            background-color: #0e9402;
            width: 100%;

            .logo {
                margin: 0px 8px;
                width: auto;
            }
        }

        .text-section {

            .div-images {

                img {
                    z-index: -1;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }
            
            .div-text {
                @include div-text;        

                h1 {
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                    font-size: 1.5rem;
                    background-color: #333438;
                    opacity: 0.75;
                    width: 80%;
                    margin: auto;
                    margin-bottom: 0.5rem;
                    border-radius: 50%;
                    border-radius: 15px;
                }

                p {
                    font-size: 0.5rem;
                    background-color: #333438;
                    opacity: 0.75;
                    width: 80%;
                    margin: auto;
                    margin-bottom: 0.5rem;
                    border-radius: 15px;
                    display: none;
                }
                
                button {
                    margin: 2rem auto;
                    padding: 1rem;
                    cursor: pointer;
                    background-color: #0e9402;
                    border-radius: 8px;
                    border: 0.25rem solid #0e9402;
                    font-size: 1.5rem;
                    font-weight: 700;
                    opacity: 0.65;

                    &:hover {
                        border: 0.25rem solid #0e9402;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 550px) and (max-width: 780px) {
    main {

        .nav-bar {
            background-color: #0e9402;
            width: 100%;

            .logo {
                margin: 0px 8px;
                width: auto;
            }
        }

        .text-section {

            .div-images {

                img {
                    z-index: -1;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }
            
            .div-text {
                @include div-text;
                padding: 10rem 2rem;        

                h1 {
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                    font-size: 1rem;
                    background-color: #333438;
                    opacity: 0.75;
                    width: 80%;
                    margin: auto;
                    margin-bottom: 0.5rem;
                    border-radius: 50%;
                    border-radius: 15px;
                }

                p {
                    font-size: 0.5rem;
                    background-color: #333438;
                    opacity: 0.75;
                    width: 80%;
                    margin: auto;
                    margin-bottom: 0.5rem;
                    border-radius: 15px;
                    display: none;
                }
                
                button {
                    margin: 2rem auto;
                    padding: 1rem;
                    cursor: pointer;
                    background-color: #0e9402;
                    border-radius: 8px;
                    border: 0.25rem solid #0e9402;
                    font-size: 1rem;
                    font-weight: 700;
                    opacity: 0.65;

                    &:hover {
                        border: 0.25rem solid #0e9402;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    main {

        .nav-bar {
            background-color: #0e9402;
            width: 100%;

            .logo {
                margin: 0px 8px;
                width: auto;
            }
        }

        .text-section {

            .div-images {

                img {
                    z-index: -1;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }
            
            .div-text {
                @include div-text;
                padding: 10rem 2rem;        

                h1 {
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                    font-size: 0.9rem;
                    background-color: #333438;
                    opacity: 0.75;
                    width: 100%;
                    margin: auto;
                    margin-bottom: 0.5rem;
                    border-radius: 50%;
                    border-radius: 15px;
                }

                p {
                    font-size: 0.5rem;
                    background-color: #333438;
                    opacity: 0.75;
                    width: 100%;
                    margin: auto;
                    margin-bottom: 0.5rem;
                    border-radius: 15px;
                    display: none;
                }
                
                button {
                    margin: 2rem auto;
                    padding: 1rem;
                    cursor: pointer;
                    background-color: #0e9402;
                    border-radius: 8px;
                    border: 0.25rem solid #0e9402;
                    font-size: 1rem;
                    font-weight: 700;
                    opacity: 0.65;

                    &:hover {
                        border: 0.25rem solid #0e9402;
                        opacity: 1;
                    }
                }
            }
        }
    }
}